version: '3.8'

services:

  frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: dictation_frontend
    ports:
      - "8080:80"
    
    restart: always
    
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
      
    container_name: dictation_backend
    env_file:
      - ./backend/.env
    
    ports:
      - "3000:3000" 
      
    restart: always